<div class="main-container">
  <h1 class="page-title">Speakee: What's your confession?</h1>
  
  <div class="create-confession">
    <%= link_to "Write a confession", new_confession_path %>
  </div>

  <div class="confessions-list-container">
    <% @confession.each do |confession| %>
      <%= render partial: "confessions/partials/confession", locals: {confession: confession}%>
    <% end %>
  </div>
  
</div>