<% if current_user %>
  <div class="user-info-container">
    <!-- facebook profile picture -->
    <img src=<%= current_user.large_picture %> alt="" class="profile-picture">
    <p class="name"> sgkshksdgoisghjlfghoflsgsnvkjnvkvb,dfvnkdzbvksdvnlsabvkfsbn,dsnv ksvbkfs </p>
    <p><%= current_user.location %></p>
    <p>Email: <%= @email %></p>
  </div>

  <div class="user-confession-container">
    <%= render "/confessions/partials/confession" %>
  </div>
<% end %>