<div class="main-container">
  <h1 class="hashtag-title"><%= "##{@hashtag.tag}" %></h1>
    <div class="confessions-list-container">
      <%= render "confessions/partials/confession" %>
    </div>
</div>