<div class="main-container">
  <h1 class="page-title"><%= @school.name %> Confessions</h1>
  
  <div class="create-confession">
    <%= link_to "Write a confession", new_school_confession_path(@school) %>
  </div>

  <div class="school-confessions-container">
    <%= render "schools/partials/confession" %>
  </div>

  <%= will_paginate(@confessions, previous_label: 'Prev', next_label: 'Next') %>
</div>