// Place all the styles related to the confessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "appwide";

// INDEX VIEW

.page-title {
  text-align: center;
  font-size: 2.3em;
  color: $white;
  text-shadow: 2px 3px 0px $primary-sfu;
  margin: 1em 0;
  @include medium-viewport {
    font-size: 2em;
  }
  @include mobile-viewport {
    font-size: 1.8em;
  }
}

.create-confession {
  margin: 1em 0 3em 0;
  text-align: center;
  a {
    @include transition;
    letter-spacing: 0.3px;
    color: $white;
    background-color: $primary-sfu;
    padding: 0.8em 1em;
    &:hover {
      background-color: $secondary-sfu;
      box-shadow: 0px 6px 0px $primary-sfu;
    }
  }
}

// EACH CONFESSION
.confession-container {
  text-align: left;
  margin: 1em 0 1.5em 0;
  padding: 1.3em;
  background-color: $white;
  @include medium-viewport {
    font-size: 90%;
  }
  @include mobile-viewport {
    font-size: 85%;
  }
  .title {
    display: inline-block;
    font-size: 1.3em;
    letter-spacing: -0.5px;
    margin: 0.3em 0;
  }
  .links {
    display: inline-block;
    float: right;
    margin: 0.3em 0;
  }
  .date {
    font-size: 0.9em;
    margin: 0.5em 0 2em 0;
  }
  .body {
    margin: 0.3em 0 1em 0;
    a, a:visited {
      color: $link-color;
      &:hover, &:active, &:focus {
        color: $link-hover-color;
      }
    }
  }
  .info {
    color: $text-color;
  }
}

// NEW VIEW

.create-confession-container {
  position: relative;
  @include position-x;
  left: 50%;
  text-align: center;
  padding: 2em 0;
}

// SHOW VIEW

.show-confession-container {
  position: relative;
  margin: 2em 0 2em 2em;
  padding: 1em;
  background-color: #dbdbdb;
  width: 60vw;
}