@import "appwide";

header {
  position: relative;
  background-color: $test-color;
  height: 50px;
  .left {
    float: left;
    height: 50px;
    margin-left: 2em;
    a {
      position: absolute;
      @include position-y;
      top: 50%;
    }
  }

  .right {
    float: right;
    height: 50px;
    margin-right: 2em;
    .profile-picture {
      position: relative;
      @include position-y;
      margin: 0 1em;
      top: 50%;
      display: inline-block;
      height: 40px;
      width: 40px;
      border-radius: 100%;
    }
    .profile-links {
      position: relative;
      @include position-y;
      display: inline-block;
      top: -5%;
    }
    .sign-in {
      position: relative;
      @include position-y;
      top: 50%;
      display: inline-block;
    }
  }
}

section {
  height: auto;
  min-height: 84vh;
  margin: 0;
  padding: 1.5em 0 3em 0;
  .main-container {
    @include position-x;
    position: relative;
    left: 50%;
    height: auto;
    width: 60vw;
    padding: 1em;
    background-color: $tertiary-sfu;
    @include medium-viewport {
      width: 80vw;
    }
    @include mobile-viewport {
      width: 90vw;
      text-align: center;
    }
  }
}

footer {
  background-color: $test-color;
  min-height: 8vh;
  height: auto;
  padding: 1em;
}
